certifi==2024.2.2
cffi==1.16.0
circuitbreaker==1.4.0
contextvars==2.4
cryptography==42.0.5
Cython==3.0.9
fdk==0.1.70
httptools==0.6.1
immutables==0.20
iniconfig==2.0.0
iso8601==0.1.12
oci==2.124.1
packaging==24.0
pbr==6.0.0
pluggy==1.4.0
pycparser==2.22
pyOpenSSL==24.1.0
pytest==8.1.1
pytest-asyncio==0.12.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
